<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования web.config см. на странице https://go.microsoft.com/fwlink/?LinkId=125889.-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    В следующем примере преобразование SetAttributes изменит значение 
    connectionString для использования ReleaseSQLServer, только когда указатель Match 
    находит атрибут name со значением MyDB.
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      В следующем примере преобразование Replace заменит весь 
      раздел <customErrors> в файле web.config.
      Обратите внимание, что, поскольку в узле <system.web> имеется только один 
      раздел customErrors, не требуется использовать атрибут xdt:Locator.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>